<!doctype html>
<html lang="en">

<head>
   
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <title>Index</title>

</head>

<body class="bg_one">


    <!-- Image and text -->
<div class="nav1">
   
    <nav class="" >
         
        <a class=" b " aria-current="page" href=" ">HOME</a>
        <a class="a " href="/appointment">BOOK APPOINTMENT</a>
        <a class="a " href="/appointment">DISPLAY APPOINTMENTS</a>
      </nav>
</div>

   

    <div class="div_main ">
        <h1 class="head_one" >MEHRA HEALTH CARE CENTER</h1>
    
    <p class="info">
        The Best Healthcare in the world. Awarded as the number one Health care last year,<br> We do have the best
        Doctor in the world and best health systems
        . All <br>the patients are given the best medical care and with really cheap and ressoanble price.

    </p>
    <br><br><br><br>
</div>
</body>


</html>