.bg_one{

    background-image:url("hosp_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.div_main{

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: rollover;
    margin-top: 100px;

}

.head_one{

    text-align: center;


}
.nav1{
   background-color: white;

   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color:black;
   font-size: 20px;
   padding-top:5px ;
   padding-bottom:5px ;

   padding-left: 3%;
   
  
   
}
.a{
    text-decoration: none;
    margin-left: 3%;
}
.b{
    text-decoration: underline;
    margin-left: 3%;
    
}
.appointment{
    color:black;
    font-size: 20px;
    opacity: 1;
}
.e{
    background: rgb(255, 255, 255 ,.3);
    margin: 50px 70px 50px 70px;
    padding-left: 160px;    
}
.bg_three{

    background-image:url("bg-3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}
.bg_four{

    background-image:url("bg-4.jpg");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}
.bg_two{

    background-image:url("bg-2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}
.button{
    padding:5px;
    background-color: rgb(38, 3, 194);
    color:white;
    text-align: end;

}


h1{font-family: Arial, Helvetica, sans-serif;

color:white;
text-shadow: 4px 4px 8px blue;
font-size:50px;

}
.c{

border:  solid black;
color:BLACK;
opacity:0.9;
background-color:#F0F8FF;


text-align:center;
font-size:20px;
}
.about{height:auto;

color: black;
font-size:20px;
text-align: left;
padding:50px;
opacity:0.8;
margin-top:50px;
}

.info{
    text-align: center;
    color: white;
}